doctype
html(lang='es')
    head
        meta(charset='utf-8')      
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
        link(rel='stylesheet' href='../bootstrap-5.3.0/css/bootstrap.min.css')
        link(rel='stylesheet' href='../toastify/toastify.css')
        link(rel='stylesheet' href='../stylesheets/style.css')
        link(rel='icon' href='../images/logo.jpeg')
        title Calendario
    body(onhashchange='getHash()')
        nav.navbar.navbar-expand-lg.bg-black.style-navbar.shadow.sticky-top
            .container-fluid
                span.font-16.text-white#navbarName
                .d-flex.dropdown
                    img.ms-4.img-fluid.rounded.cursor-pointer(src='../images/logo.jpeg' width=40 data-bs-toggle='dropdown' aria-expanded='false')
                    ul.dropdown-menu.dropdown-menu-end
                        li
                            a.dropdown-item(href='#calendar') Citas
                            a.dropdown-item(href='#inventory') Inventario
                            a.dropdown-item.cursor-pointer(onclick='logout()') Cerrar sesión
        #contentDiv.container-fluid.my-4
            .text-center
                .spinner-border.color-green(style='width: 6rem; height: 6rem;' role='status')
        .modal.fade#deleteModal(tabindex='-1' aria-hidden='true' data-bs-backdrop='static' data-bs-keyboard='false')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-body
                        br
                        .row
                            .col-12.text-center.mb-4
                                p.font-17.fw-bold#deleteTitle
                            .col-12.text-center
                                button.btn.text-white.btn-cancel.font-16.me-3.color-green(data-bs-dismiss='modal') Cancelar
                                button.btn.text-white.btn-style.font-16.bg-green#btnDelete(data-bs-dismiss='modal') Eliminar
        script(src='../jquery/code.jquery.com_jquery-3.7.0.slim.min.js')
        script(src='../fullcalendar-6.1.8/index.global.js')
        script(src='../bootstrap-5.3.0/js/bootstrap.bundle.min.js')
        script(src='../axios/axios.min.js')
        script(src='../javascripts/generals.js')
        script(src='../toastify/toastify.js')
        script(src='../javascripts/dashboard.js')