ul.nav.nav-pills.nav-justified.mb-4(role='tablist')
    li.nav-item(role='presentation')
        button.nav-link.active.height-60.radius-20.border(data-bs-toggle='pill' data-bs-target='#tabCalendar' role='tab' aria-controls='tabCalendar' aria-selected='true') Calendario
    li.nav-item(role='presentation')
        button.nav-link.height-60.radius-20.border(data-bs-toggle='pill' data-bs-target='#tabHistory' role='tab' aria-controls='tabHistory' aria-selected='false') Historial
.tab-content
    .tab-pane.fade.show.active#tabCalendar(role='tabpanel' tabindex='0')
        #renderCalendar
    .tab-pane.fade#tabHistory(role='tabpanel' tabindex='0')
        .row
            .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3.col-xxl-3.mb-4
                label.form-label.color-green.fw-bold(for='appointmentHistoryStartDate') Fecha de inicio
                input.form-control.input-style#appointmentHistoryStartDate(type='date' placeholder='' min='2023-07-22' max=maxDate onchange='filterHistoryAppointment()')
            .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3.col-xxl-3.mb-4
                label.form-label.color-green.fw-bold(for='appointmenHistoryEndDate') Fecha de fin
                input.form-control.input-style#appointmenHistoryEndDate(type='date' placeholder='' min='2023-07-22' max=maxDate onchange='filterHistoryAppointment()')
            .col-6.col-sm-6.col-md-6.col-lg-3.col-xl-3.col-xxl-3.mb-4
                label.form-label.color-green.fw-bold(for='appointmenHistoryWorker') Selecciona una opción
                select.form-select.input-style#appointmenHistoryWorker(onchange='filterHistoryAppointment()')
                    option(value='Naum') Naum
                    option(value='Otro') Otro
        #contentHistoryAppointments
.modal.fade#modalAddAppointment(tabindex='-1' data-bs-backdrop='static' data-bs-keyboard='false')
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
        .modal-content
            .modal-header
                h5.modal-title.color-blue.fw-bold Agregar cita
            .modal-body
                .mb-3
                    label.form-label.color-green.fw-bold(for='dateAppointment') Fecha de cita
                    input.form-control.input-style.new-appointment#dateAppointment(type='date' placeholder='')
                .row
                    .col-6.mb-4
                        label.form-label.color-green.fw-bold(for='startTimeAppointment') Hora de inicio
                        input.form-control.input-style.new-appointment#startTimeAppointment(type='time' placeholder='')
                    .col-6.mb-4
                        label.form-label.color-green.fw-bold(for='endTimeAppointment') Hora de fin
                        input.form-control.input-style.new-appointment#endTimeAppointment(type='time' placeholder='')
                .mb-4
                    input.form-control.input-style.new-appointment#nameAppointment(type='text' placeholder='Nombre...' autocomplete='off')
                .mb-5
                    input.form-control.input-style.new-appointment#phoneAppointment(type='text' placeholder='Teléfono (opcional)...' autocomplete='off')
                .text-center
                    button.btn.text-white.btn-cancel.font-16.me-3.color-blue(onclick='cleanAddAppointment()') Cancelar
                    button.btn.text-white.btn-style.font-16.bg-blue#btnAddAppointment(onclick='addAppointment()') Agregar
.modal.fade#modalDetailAppointment(tabindex='-1' data-bs-backdrop='static' data-bs-keyboard='false')
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
        .modal-content
            .modal-header
                h5.modal-title.color-blue.fw-bold Detalle de la cita
                button.btn-close.color-blue(data-bs-dismiss='modal')
            .modal-body
                .mb-2
                    span.font-18.fw-bold Nombre: 
                    span.font-18#spanNameAppointment
                .mb-2
                    span.font-18.fw-bold Teléfono: 
                    span.font-18#spanPhoneAppointment
                .mb-5
                    span.font-18.fw-bold Fecha y hora: 
                    span.font-18#spanDateAppointment
                .text-center
                    button.btn.text-white.btn-cancel.font-16.me-3.color-blue#btnDeleteAppointment(data-bs-dismiss='modal') Eliminar
                    button.btn.text-white.btn-style.font-16.bg-blue#btnCompleteAppointment(data-bs-dismiss='modal') Completar
.modal.fade#modalCompleteAppointment(tabindex='-1' data-bs-backdrop='static' data-bs-keyboard='false')
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
        .modal-content
            .modal-body
                br
                .row
                    .col-12.mb-4
                        p.font-17.fw-bold#priceCompleteAppointment
                    .col-6.mb-5
                        select.form-select.input-style#inputWorkerCompleteAppointment
                            option(selected disabled value='') Selecciona una opción
                            option(value='Naum') Naum
                            option(value='Otro') Otro
                    .col-6.mb-5
                        input.form-control.input-style#inputPriceCompleteAppointment(type='text' placeholder='Precio...' autocomplete='off')
                .text-center
                    button.btn.text-white.btn-cancel.font-16.me-3.color-blue(onclick='cleanConfirmCompleteAppointment()') Cancelar
                    button.btn.text-white.btn-style.font-16.bg-blue#btnConfirmCompleteAppointment Completar