doctype
html(lang='es')
    head
        meta(charset='utf-8')      
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap')
        link(rel='stylesheet' href='../bootstrap-5.3.0/css/bootstrap.min.css')
        link(rel='stylesheet' href='../toastify/toastify.css')
        link(rel='stylesheet' href='../stylesheets/index.css')
        link(rel='icon' href='../images/logo.jpeg')
        title Recuperar contrase침a
    body.bg-blue
        if code === 401
            .myForm
                .row.text-center
                    .col-12
                        img(src='../images/404.gif' width=300)
                    .col-12
                        span.font-26.fw-bold.text-white P치gina no disponible.
        else
            .myForm.bg-white.radius-40
                br
                .mb-5
                    input.form-control.input-style#password(type='password' placeholder='Nueva contrase침a *' autocomplete='off')
                .mb-4.text-center
                    button.btn.text-white.btn-iniciar-sesion.font-16.bg-blue#btnForgotPassword(onclick='updatePassword("'+userID+'")') Actualizar contrase침a
            script(src='../jquery/code.jquery.com_jquery-3.7.0.slim.min.js')
            script(src='../axios/axios.min.js')
            script(src='../javascripts/generals.js')
            script(src='../toastify/toastify.js')
            script(src='../javascripts/index.js')