doctype
html(lang='es')
    head
        meta(charset='utf-8')      
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='../bootstrap-5.3.0/css/bootstrap.min.css')
        link(rel='stylesheet' href='../toastify/toastify.css')
        link(rel='stylesheet' href='../stylesheets/index.css')
        link(rel='icon' href='../images/logo.jpeg')
        title Recuperar contraseña
    body.bg-green
        if code === 401
            .container
                .myForm
                    .row.my-3.text-center
                        .col-12
                            img(src='../images/404.gif' width=300)
                        .col-12
                            span.font-50.fw-bold.text-white ERROR
                            br
                            span.font-26.fw-bold.text-white La página ya no está disponible.
        else
            .myForm.bg-white
                br
                p.fw-bold.font-34 Recuperar contraseña
                .mb-5
                    label.form-label.text-secondary.font-15(for='password') Contraseña
                    input.form-control.input-style.text-secondary.border-0#password(type='password' placeholder='Contraseña' autocomplete='off')
                .mb-4.text-center
                    button.btn.text-white.btn-iniciar-sesion.font-15#btnForgotPassword(onclick='updatePassword("'+userID+'")') Actualizar contraseña
            script(src='../jquery/code.jquery.com_jquery-3.7.0.slim.min.js')
            script(src='../axios/axios.min.js')
            script(src='../javascripts/generals.js')
            script(src='../toastify/toastify.js')
            script(src='../javascripts/index.js')