doctype
html(lang='es')
    head
        meta(charset='utf-8')      
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap' rel='stylesheet')
        title Olvide la contraseña
        style
            include ./css/style.css
    body
        br
        br
        .ps-15.pe-15.margin-email
            .row.mb-25
                .col-12.text-center
                    img(src='cid:cidHeaderEmailForgotPassword' width=600)
                    br
                    br
                    br
                    div.font-32.fw-400.color-primary(style='margin-top: -800px !important;')
                        | Hola, #{user.name}
                    p.font-16.fw-400.color-black
                        | Recibimos tu solicitud para cambiar tu contraseña, ingresa este código de verificación en la pantalla de HOB Manuals para crear una nueva contraseña.
                    br
                    br
                    br
                    span.verification-code.bg-blue-10.radius-30.color-black.fw-600.font-22
                        | #{total}
                    br
                    br
                    br
                    br
                    p.font-16.fw-400.color-black
                        | Si no fuiste tú o ya no deseas cambiarla, simplemente ignora este correo.