doctype
html(lang='es')
    head
        meta(charset='utf-8')      
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap' rel='stylesheet')
        title Olvide la contraseña
        style
            include ./css/style.css
    body
        br
        br
        .ps-15.pe-15.margin-email.bg-verde.radius-30
            .row
                .col-12.text-center
                    p.font-22.fw-bold.color-white
                        | ¡Hola #{user.name}!
                    p.font-16.fw-400.color-white
                        | Recibimos una petición para la recuperación de su contraseña.
                        br
                        | Si fue usted por favor de click en el botón cambiar contraseña.
                    br
                    br
                    a.btn-enalce.bg-black.fw-bold.color-white.text-center.font-16.pt-15(href=process.env.SERVER_URL + '/views/recuperar-contrasena?token=' + token)
                        | CAMBIAR CONTRASEÑA
                    br
                    br
                    br
                    p.font-14.fw-400.color-white
                        | Si no fuiste tú o ya no deseas cambiarla
                        br
                        | simplemente ignora este correo.
                    br